
.container{
    background-color: rgba(20, 11, 11, 0.90);
    color: white;
    text-align: center; 
}

body{
    background-image: url("../images/bill_murray_background.jpg");
    overflow: auto;
}

h1{
    font-family: 'Abril Fatface', cursive;
    line-height: 1.5;
    font-size: 60px;
}

img{
    width: 300px;
    height: 400px;
    overflow: hidden;
}

h2{
    font-size: 48px;
}

