
.container{
    background-color: grey;
    color: white;
    width: 100%;
    text-align: center;
}

#bodyContent{
    background-image: url("../images/bill_murray_background.jpg");
    overflow: auto;
}

h1{
    font-family: 'Abril Fatface', cursive;
    line-height: 1.5;
    font-size: 60px;
}

img{
    width: 75%;
}

h2{
    font-size: 48px;
}

